# Entorno virtual
env/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Variables de entorno
.env
.env.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Base de datos local (si usas SQLite)
*.db
*.sqlite3

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

log.txt